In [1]:
import sys, os
sys.path.append("../..")
sys.path.append("..")
sys.path.append(os.getcwd())

from matplotlib import pyplot as plt
import numpy as np
import pandas as pd
import copy

import random
from numpy.linalg import svd, matrix_rank, norm
from sklearn import linear_model
import pickle

# winners.pkl

In [33]:
df = pd.read_pickle("../data/nba-hosoi/nba_scores_2103-2018.pkl")
df_winner = df.loc[:,["nbaId","WINNER"]].drop_duplicates().reset_index(drop=True)
df_winner.to_pickle("../data/nba-hosoi/winners.pkl")

# 0 if home wins, 1 if away wins

In [34]:
df_winner.head()

      nbaId  WINNER
0  21300001       0
1  21300002       0
2  21300003       0
3  21300004       0
4  21300005       0

# most distinguishing metrics

In [46]:
metrics = ['points','assists', 'rebounds', 'bs', 'fouls']

# for i in range(len(metrics)):
i=0
df_home = pd.read_pickle("../data/nba-hosoi/donor_home_" + metrics[i]+".pkl")
df_home = df_home.iloc[:,-1:].reset_index()
df_home.columns = ["nbaId", "home"]

df_away = pd.read_pickle("../data/nba-hosoi/donor_away_" + metrics[i]+".pkl")
df_away = df_away.iloc[:,-1:].reset_index()
df_away.columns = ["nbaId", "away"]

df_metric = pd.concat([df_home, df_away["away"]], axis=1)

In [54]:
df_metric.join(df_winner, on="nbaId", how="left", rsuffix="_winner")

         nbaId   home   away  nbaId_winner  WINNER
0     21300001   97.0   87.0           NaN     NaN
1     21300002  107.0   95.0           NaN     NaN
2     21300003  116.0  103.0           NaN     NaN
3     21300004   98.0   94.0           NaN     NaN
4     21300006   93.0   87.0           NaN     NaN
5     21300007  113.0  102.0           NaN     NaN
6     21300008   90.0   83.0           NaN     NaN
7     21300009   96.0   83.0           NaN     NaN
8     21300010  103.0  103.0           NaN     NaN
9     21300011   90.0   95.0           NaN     NaN
10    21300012  118.0  109.0           NaN     NaN
11    21300013  101.0   94.0           NaN     NaN
12    21300014   98.0  101.0           NaN     NaN
13    21300015  104.0   91.0           NaN     NaN
14    21300016   90.0   88.0           NaN     NaN
15    21300017  125.0   94.0           NaN     NaN
16    21300018   82.0   81.0           NaN     NaN
17    21300019  126.0  115.0           NaN     NaN
18    21300020   90.0   84.0           NaN     NaN
19    21300021  110.0   90.0           NaN     NaN
20    21300022  102.0  109.0           NaN     NaN
21    21300023  102.0   95.0           NaN     NaN
22    21300024   98.0  105.0           NaN     NaN
23    21300025  113.0  105.0           NaN     NaN
24    21300026   95.0   95.0           NaN     NaN
25    21300027  100.0   81.0           NaN     NaN
26    21300028  101.0  100.0           NaN     NaN
27    21300029   98.0  113.0           NaN     NaN
28    21300030   87.0   84.0           NaN     NaN
29    21300031  101.0  110.0           NaN     NaN
...        ...    ...    ...           ...     ...
4708  21601199  124.0  111.0           NaN     NaN
4709  21601200  128.0  135.0           NaN     NaN
4710  21601201   90.0  103.0           NaN     NaN
4711  21601202  110.0  109.0           NaN     NaN
4712  21601203  111.0  120.0           NaN     NaN
4713  21601204  114.0  105.0           NaN     NaN
4714  21601205  108.0  108.0           NaN     NaN
4715  21601206  122.0   75.0           NaN     NaN
4716  21601207   89.0   79.0           NaN     NaN
4717  21601208  101.0  105.0           NaN     NaN
4718  21601209   99.0   98.0           NaN     NaN
4719  21601211   99.0  105.0           NaN     NaN
4720  21601212  103.0   76.0           NaN     NaN
4721  21601213   98.0  100.0           NaN     NaN
4722  21601214   91.0  109.0           NaN     NaN
4723  21601215  108.0   96.0           NaN     NaN
4724  21601216  129.0  104.0           NaN     NaN
4725  21601217  113.0  109.0           NaN     NaN
4726  21601218   83.0   98.0           NaN     NaN
4727  21601219  112.0   94.0           NaN     NaN
4728  21601220  114.0  113.0           NaN     NaN
4729  21601222  112.0   73.0           NaN     NaN
4730  21601223   93.0  100.0           NaN     NaN
4731  21601224  123.0  118.0           NaN     NaN
4732  21601225  105.0  111.0           NaN     NaN
4733  21601226  104.0   86.0           NaN     NaN
4734  21601227  101.0   97.0           NaN     NaN
4735  21601228  115.0   95.0           NaN     NaN
4736  21601229  109.0   94.0           NaN     NaN
4737  21601230  100.0  103.0           NaN     NaN

[4738 rows x 5 columns]

In [49]:
df_metric["nbaId"]

0       21300001
1       21300002
2       21300003
3       21300004
4       21300006
5       21300007
6       21300008
7       21300009
8       21300010
9       21300011
10      21300012
11      21300013
12      21300014
13      21300015
14      21300016
15      21300017
16      21300018
17      21300019
18      21300020
19      21300021
20      21300022
21      21300023
22      21300024
23      21300025
24      21300026
25      21300027
26      21300028
27      21300029
28      21300030
29      21300031
          ...
4708    21601199
4709    21601200
4710    21601201
4711    21601202
4712    21601203
4713    21601204
4714    21601205
4715    21601206
4716    21601207
4717    21601208
4718    21601209
4719    21601211
4720    21601212
4721    21601213
4722    21601214
4723    21601215
4724    21601216
4725    21601217
4726    21601218
4727    21601219
4728    21601220
4729    21601222
4730    21601223
4731    21601224
4732    21601225
4733    21601226
4734    21601227
4735    21601228
4736    21601229
4737    21601230
Name: nbaId, Length: 4738, dtype: int64

In [51]:
df_winner["nbaId"]

0       21300001
1       21300002
2       21300003
3       21300004
4       21300005
5       21300006
6       21300007
7       21300008
8       21300009
9       21300010
10      21300011
11      21300012
12      21300013
13      21300014
14      21300015
15      21300016
16      21300017
17      21300018
18      21300019
19      21300020
20      21300021
21      21300022
22      21300023
23      21300024
24      21300025
25      21300026
26      21300027
27      21300028
28      21300029
29      21300030
          ...
7350    21800930
7351    21800931
7352    21800932
7353    21800933
7354    21800934
7355    21800935
7356    21800936
7357    21800937
7358    21800938
7359    21800939
7360    21800940
7361    21800941
7362    21800942
7363    21800943
7364    21800944
7365    21800945
7366    21800946
7367    21800947
7368    21800948
7369    21800949
7370    21800950
7371    21800951
7372    21800952
7373    21800953
7374    21800954
7375    21800955
7376    21800956
7377    21800957
7378    21800958
7379    21800959
Name: nbaId, Length: 7380, dtype: int64